* {
  box-sizing: border-box;
}

body {
  border: 5px solid black;
  width: 825px;
  /* padding: 15px; */
  margin: 50px 400px;
  position: relative;
}

.container {
  /* margin: 0px; */
}

h1 {
  margin: 0;
  padding: 10px;
  text-align: center;
  background-color: rgb(170, 170, 170);
}
/* FLOAT BOX */
/*
.product-img {
  float: left;
}

.product-info {
  width: 250px;
  float: left;
  margin-left: 40px;
}

.price {
  font-weight: bold;
  float: left;
}
*/

aside {
  margin-left: 10px;
}
article {
  font-weight: bold;
}
/* FLOAT BOX */

/* .free-shipping {
  text-transform: uppercase;
  color: grey;
  float: right;
} */

.discription {
  margin: 0;
}
.button {  
  background-color: black;
  color: white;
  padding: 15px;
  width: 100%;
}
.button:hover {
  background-color: white;
  color: black;
  /* border: none; */
}
button {
  cursor: pointer;
}

.top-sale {
  background-color: red;
  color: white;
  letter-spacing: 3px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -35px;
  left: -35px;
}

.color {
  background-color: orangered;
  height: 22px;
  width: 22px;
  /* display: flex; */
  /* display: inline-block; */
  /* margin-right: 5px; */
  /* margin-top: 28px; */
}

.color-black {
  background-color: black;
}
.color-red {
  background-color: red;
}
.color-yellow {
  background-color: yellow;
}
.color-blue {
  background-color: blue;
}
.color-green {
  background-color: green;
}
/* FLOAT BOX */
/* .product-details {
  width: 250px;
  float: left;
  margin-left: 20px;
  margin-top: -5px;
} */

/* FLEX BOX */

.main-head {
  display: flex;
  gap: 30px;
  flex: 1;
}
.price-shipping {
  display: flex;
  justify-content: space-between;
}

.free-shipping {
  color: gray;
}
.product-info {
  flex-basis: 250px;
  align-items: flex-start;
}

.product-color {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.product-details {
  flex-basis: 250px;
}

h3 {
  margin-left: 25px;
}

.product-gap {
  margin-bottom: 10px;
}
